@{
    ViewData["Title"] = "Home Page";
}




<title>Home Page</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="css/home.css">
<link rel="stylesheet" type="text/css" href="~/css/header.css">
<link rel="stylesheet" type="text/css" href="~/css/footer.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Neuton&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style type="text/css">

    body {
        background-color: #FFE4B5;
        font-family: 'Roboto Condensed', sans-serif !important;
        font-size: 22px;
    }

    h1, h2, h3, h4, h5, h6 {
        color: maroon;
        font-size: 25px;
        font-weight: bold;
        font-family: 'Roboto Condensed', sans-serif !important;
        text-align: center;
    }
</style>



<body>


    <content>
        <div style="width:92%; padding-left: 100px">
            <div class="row" style="margin-bottom: 40px; ">
                <div class="col-md-5">
                    <img style="height: 300px; width:500px;" src="images/discount.jpg">
                </div>
                <div class="col-md-7">
                    <img style="height: 300px; width:600px;" src="images/groc1.jpg">
                </div>
            </div>



            <!-- !PAGE CONTENT! -->

            <div class="row" style="margin-bottom: 40px;  ">
                <!-- First Photo Grid-->

                <div class="col-md-3" style="border: solid 0.5px #e0a800; padding:3px; ">
                    <img class="hi" src="images/deal1.png" alt="deal" style="width:100% ; height:150px">
                    <h3>Ramzan Offer</h3>

                    <hr />
                    <center>
                        <span style="padding: 0px;  font-size:25px;font-weight: bold; color: maroon">Rs.11000</span><br />
                        <!-- Star icons -->
                        <i style="margin-right:-7px;  color:maroon" class="fa fa-star fa-1x checked " aria-hidden="true"></i>
                        <i style="margin-right:-7px; color:maroon" class="fa fa-star fa-1x checked" aria-hidden="true"></i>
                        <i style="margin-right:-7px; color:maroon" class="fa fa-star fa-1x checked" aria-hidden="true"></i>
                        <i style="margin-right:-7px; color:maroon" class="fa fa-star fa-1x" aria-hidden="true"></i>
                        <i style="margin-right:-7px; color:maroon" class="fa fa-star fa-1x" aria-hidden="true"></i><br />
                        <button class="btn btn-warning btn-lg"><i class="fas fa-shopping-cart"></i> Add to Cart</button>
                    </center>
                </div>

                <div class="col-md-3 " style="border: solid 0.5px #e0a800; padding:3px;  ">
                    <img class="hi" src="images/deal1.png" alt="deal" style="width:100% ; height:150px">
                    <h3>Monthly Offer</h3>

                    <hr />
                    <center>
                        <span style="padding: 0px;  font-size:25px;font-weight: bold; color: maroon">Rs.10000</span><br />
                        <!-- Star icons -->
                        <i style="margin-right:-7px;  color:maroon" class="fa fa-star fa-1x checked " aria-hidden="true"></i>
                        <i style="margin-right:-7px; color:maroon" class="fa fa-star fa-1x checked" aria-hidden="true"></i>
                        <i style="margin-right:-7px; color:maroon" class="fa fa-star fa-1x checked" aria-hidden="true"></i>
                        <i style="margin-right:-7px; color:maroon" class="fa fa-star fa-1x" aria-hidden="true"></i>
                        <i style="margin-right:-7px; color:maroon" class="fa fa-star fa-1x" aria-hidden="true"></i><br />
                        <button class="btn btn-warning btn-lg"><i class="fas fa-shopping-cart"></i> Add to Cart</button>
                    </center>
                </div>
                <div class="col-md-3" style="border: solid 0.5px #e0a800;padding: 3px; ">
                    <img class="hi" src="images/deal2.png" alt="deal" style="width:100% ; height:150px">
                    <h3>Special Offer</h3>

                    <hr />
                    <center>
                        <span style="padding: 0px;  font-size:25px;font-weight: bold; color: maroon">Rs.13000</span><br />
                        <!-- Star icons -->
                        <i style="margin-right:-7px;  color:maroon" class="fa fa-star fa-1x checked " aria-hidden="true"></i>
                        <i style="margin-right:-7px; color:maroon" class="fa fa-star fa-1x checked" aria-hidden="true"></i>
                        <i style="margin-right:-7px; color:maroon" class="fa fa-star fa-1x checked" aria-hidden="true"></i>
                        <i style="margin-right:-7px; color:maroon" class="fa fa-star fa-1x" aria-hidden="true"></i>
                        <i style="margin-right:-7px; color:maroon" class="fa fa-star fa-1x" aria-hidden="true"></i><br />
                        <button class="btn btn-warning btn-lg"><i class="fas fa-shopping-cart"></i> Add to Cart</button>
                    </center>
                </div>
                <div class="col-md-3" style="border: solid 0.5px #e0a800;padding: 3px;">
                    <img class="hi" src="images/deal1.png" alt="deal" style="width:100% ; height:150px">
                    <h3>Special Deal</h3>

                    <hr />
                    <center>
                        <span style="padding: 0px;  font-size:25px;font-weight: bold; color: maroon">Rs.12000</span><br />
                        <!-- Star icons -->
                        <i style="margin-right:-7px;  color:maroon" class="fa fa-star fa-1x checked " aria-hidden="true"></i>
                        <i style="margin-right:-7px; color:maroon" class="fa fa-star fa-1x checked" aria-hidden="true"></i>
                        <i style="margin-right:-7px; color:maroon" class="fa fa-star fa-1x checked" aria-hidden="true"></i>
                        <i style="margin-right:-7px; color:maroon" class="fa fa-star fa-1x" aria-hidden="true"></i>
                        <i style="margin-right:-7px; color:maroon" class="fa fa-star fa-1x" aria-hidden="true"></i><br />
                        <button class="btn btn-warning btn-lg"><i class="fas fa-shopping-cart"></i> Add to Cart</button>
                    </center>
                </div>

            </div>

            <!-- Second Photo Grid-->
            <div class="row" style="margin-bottom: 40px;">
                <div class="col-md-3" style="border: solid 0.5px #e0a800; padding:3px; ">
                    <img class="hi" src="images/deal1.jpg" alt="Popsicle" style="width:100% ; height:150px">
                    <h3>All I Need Is a Popsicle</h3>

                    <hr />
                    <center>
                        <span style="padding: 0px;  font-size:25px;font-weight: bold; color: maroon">Rs1000</span><br />
                        <!-- Star icons -->
                        <i style="margin-right:-7px;  color:maroon" class="fa fa-star fa-1x checked " aria-hidden="true"></i>
                        <i style="margin-right:-7px; color:maroon" class="fa fa-star fa-1x checked" aria-hidden="true"></i>
                        <i style="margin-right:-7px; color:maroon" class="fa fa-star fa-1x checked" aria-hidden="true"></i>
                        <i style="margin-right:-7px; color:maroon" class="fa fa-star fa-1x" aria-hidden="true"></i>
                        <i style="margin-right:-7px; color:maroon" class="fa fa-star fa-1x" aria-hidden="true"></i><br />
                        <button class="btn btn-warning btn-lg"><i class="fas fa-shopping-cart"></i> Add to Cart</button>
                    </center>
                </div>

                <div class="col-md-3" style="border: solid 0.5px #e0a800; padding:3px; ">
                    <img class="hi" src="images/deal2.jpg" alt="Salmon" style="width:100% ; height:150px">
                    <h3>Salmon For Your Skin</h3>
                    <hr />
                    <center>
                        <span style="padding: 0px;  font-size:25px;font-weight: bold; color: maroon">Rs.5000</span><br />
                        <!-- Star icons -->
                        <i style="margin-right:-7px;  color:maroon" class="fa fa-star fa-1x checked " aria-hidden="true"></i>
                        <i style="margin-right:-7px; color:maroon" class="fa fa-star fa-1x checked" aria-hidden="true"></i>
                        <i style="margin-right:-7px; color:maroon" class="fa fa-star fa-1x checked" aria-hidden="true"></i>
                        <i style="margin-right:-7px; color:maroon" class="fa fa-star fa-1x" aria-hidden="true"></i>
                        <i style="margin-right:-7px; color:maroon" class="fa fa-star fa-1x" aria-hidden="true"></i><br />
                        <button class="btn btn-warning btn-lg"><i class="fas fa-shopping-cart"></i> Add to Cart</button>
                    </center>
                </div>
                <div class="col-md-3" style="border: solid 0.5px #e0a800; padding:3px; ">
                    <img class="hi" src="images/deal2.jpg" alt="Salmon" style="width:100% ; height:150px">
                    <h3>Salmon For Your Skin</h3>

                    <hr />
                    <center>
                        <span style="padding: 0px;  font-size:25px;font-weight: bold; color: maroon">Rs.8000</span><br />
                        <!-- Star icons -->
                        <i style="margin-right:-7px;  color:maroon" class="fa fa-star fa-1x checked " aria-hidden="true"></i>
                        <i style="margin-right:-7px; color:maroon" class="fa fa-star fa-1x checked" aria-hidden="true"></i>
                        <i style="margin-right:-7px; color:maroon" class="fa fa-star fa-1x checked" aria-hidden="true"></i>
                        <i style="margin-right:-7px; color:maroon" class="fa fa-star fa-1x" aria-hidden="true"></i>
                        <i style="margin-right:-7px; color:maroon" class="fa fa-star fa-1x" aria-hidden="true"></i><br />
                        <button class="btn btn-warning btn-lg"><i class="fas fa-shopping-cart"></i> Add to Cart</button>
                    </center>
                </div>
                <div class="col-md-3" style="border: solid 0.5px #e0a800; padding:3px;  ">
                    <img class="hi" src="images/deal3.jpg" alt="Croissant" style="width:100% ; height:150px">
                    <h3>Le French</h3>
                    <hr />
                    <center>
                        <span style="padding: 0px;  font-size:25px;font-weight: bold; color: maroon">Rs.7000</span><br />
                        <!-- Star icons -->
                        <i style="margin-right:-7px;  color:maroon" class="fa fa-star fa-1x checked " aria-hidden="true"></i>
                        <i style="margin-right:-7px; color:maroon" class="fa fa-star fa-1x checked" aria-hidden="true"></i>
                        <i style="margin-right:-7px; color:maroon" class="fa fa-star fa-1x checked" aria-hidden="true"></i>
                        <i style="margin-right:-7px; color:maroon" class="fa fa-star fa-1x" aria-hidden="true"></i>
                        <i style="margin-right:-7px; color:maroon" class="fa fa-star fa-1x" aria-hidden="true"></i><br />
                        <button class="btn btn-warning btn-lg"><i class="fas fa-shopping-cart"></i> Add to Cart</button>
                    </center>
                </div>
            </div>
        </div>

        <!-- Pagination -->
        <div class="w3-center w3-padding-32">
            <div class="w3-bar">
                <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
                <a href="#" class="w3-bar-item w3-yellow w3-button">1</a>
                <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
                <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
                <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
                <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
            </div>
        </div>


    </content>
    <!-- PAGE CONTENT CLOSE -->
    <!-- FOOTER -->
    <!-- FOOTER CLOSE -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
