body {
    font-family: 'Roboto Condensed', sans-serif;
    /*font-family: 'Rouge Script', cursive;*/
    background-color: #FFE5B4;
    color: maroon;
    font-size: 22px;
}

.w3-bar-block .w3-bar-item {
    padding: 140px;
}

h1, h2, h3, h4, h5, h6 {
    color: maroon;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif !important ;
    /*font-family: 'Neuton', serif !important;*/
}

.hi {
    height: 200px;
    margin-bottom: 10px;
    /*border: solid 5px  maroon;*/
}
